@using Empathica.TwitterChallenge.Wires.Resources
@model Empathica.TwitterChallenge.Db.Domain.TwitterStatus

<div class="form-status">
    <h2 class="form-signin-heading">@Model.Text</h2>
    <a class="btn btn-primary" href="/">@R[Rk.BtnBackText]</a>
</div>